<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello, Kitty!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

</head>
<body>
{% load static %}

<div class="container">
    <h1>Hello, Kitty!</h1>
    <div>
        <form>
            <input type="text" name="cat-name" class="form-control" placeholder="Enter a kitty name"/>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="action-dropdown" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                    Action
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="action-dropdown">
                    <li><a href="#">Pet</a></li>
                    <li><a href="#">Brush</a></li>
                </ul>
            </div>
        </form>
    </div>
</div>

<script>
    navigator.geolocation.getCurrentPosition(function(position){
        console.log("position: ", position)
    }, function(error){
        console.log("error: ", error)
    });
</script>

</body>
</html>